@model Hospital_Web.Models.Utilizador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Utilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Criacao_Conta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Criacao_Conta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Utilizador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
