@model IEnumerable<Hospital_Web.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GabineteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.ID_Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GabineteNavigation.N_Identificador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Episodio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Episodio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Episodio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
