
@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>



    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const categoria = document.getElementById("Input_Categoria");

        function toggleExtraFields() {
            const value = categoria.value.toUpperCase();

            document.getElementById("medico-extra").style.display = value === "MÉDICO" ? "block" : "none";
            document.getElementById("utente-extra").style.display = value === "UTENTE" ? "block" : "none";
            document.getElementById("limpeza-extra").style.display = value === "EMPREGADO DE LIMPEZA" ? "block" : "none";
            document.getElementById("admin-extra").style.display = value === "ADMINISTRADOR" ? "block" : "none";
        }

        categoria.addEventListener("change", toggleExtraFields);
        window.addEventListener("DOMContentLoaded", toggleExtraFields);
    </script>
}

