@model Hospital_Web.Models.RegistoClinico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistoClinico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tratamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tratamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtenteNavigation.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoNavigation.ID_Medico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultaNavigation.Episodio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Episodio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
