@model IEnumerable<Hospital_Web.Models.RegistoClinico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtenteNavigation.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoNavigation.ID_Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultaNavigation.Episodio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Episodio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Episodio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Episodio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
